body {
  font-family: "Space Grotesk";
  font-family: #fff;
  font-size: 1rem;
}

/* Required to avoid Chromiium's lazy-loading of fonts */
.space-mono {
  font-family: "Space Mono";
  position: absolute;
  opacity: 0;
}

.remark-code,
.remark-inline-code {
  font-family: "Space Mono";
  font-size: 1rem;
}
.remark-container {
  background-color: rgb(253 234 46);
}

.remark-slide-content {
  background-color: #000;
  font-size: 2rem;
  background-image: url(./img/bg.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  color: #fff;

  td,
  th {
    padding: 0.5rem 2rem;
  }
}

.tc-highlight {
  background-color: rgb(253 234 46);
  padding: 0rem 0.5rem;
  border-radius: 8px;
  color: #000;
  font-weight: 700;
  text-wrap: nowrap;
}

.weight-700 {
  font-weight: 700;
}

.weight-500 {
  font-weight: 500;
}

.font-mono {
  font-family: "Space Mono";
}

.tc-color {
  color: rgb(253 234 46);
}

.tc-bg {
  background-color: rgb(253 234 46);
  color: #000;
}

.font-size-6 {
  font-size: 6rem;
}

.font-size-5 {
  font-size: 5rem;
}

.font-size-4 {
  font-size: 4rem;
}

.font-size-3 {
  font-size: 3rem;
}

.font-sm {
  font-size: 0.6em;
}

.font-grey {
  color: #bbb;
}

.italics {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.block {
  display: block;
}

.center {
  display: flex;
  justify-content: center;
}

.flex-col,
.middle {
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-top {
  justify-content: flex-start;
}

.stat {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  p {
    padding: 0.5rem;
    flex: 0 0 50%;
    margin: 0;
    box-sizing: border-box;
  }
}

.stat-item {
  background-color: #1c1d1f;
  padding: 0.2em 0.5em;
  border-radius: 12px;
  font-size: 1.5em;
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  font-family: "Space Mono";
  .title {
    color: rgb(253 234 46);
    font-size: 0.3em;
    text-transform: uppercase;
    font-family: "Space Mono";
    letter-spacing: 2px;
  }
}

.tc-underline {
  position: relative;
  display: inline-block;
  line-height: 1em;
}

.tc-underline::after {
  content: "";
  position: absolute;
  left: 0rem;
  top: 1.2em;
  height: 8px;
  width: 1.2em;
  background-color: #fdea2e;
}

.underline {
  border-bottom: 6px solid #fdea2e;
}

.custom-table table {
  border-collapse: collapse;
  margin: auto;
}
.custom-table td,
.custom-table th {
  padding: 1rem 1rem;
  text-align: center;
  border: 1px solid #fdea2e;
}

.custom-table th {
  background-color: #fdea2e;
  color: #000;
}

.custom-background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.custom-background-image {
  position: relative;
  color: #fff; /* Ensures text is white */
  z-index: 1;
}

.two-columns {
  display: flex;
  justify-content: space-evenly;
}

.column {
  flex: 1; /* Each column takes equal space */
  flex-direction: row;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.half img {
  max-width: 50%;
  max-height: 50%;
}

.size-75 img {
  max-width: 75%;
  max-height: 75%;
}

.size-25 img {
  max-width: 25%;
  max-height: 25%;
}

.size-30 img {
  max-width: 30%;
  max-height: 30%;
}

.size-50 img {
  max-width: 50%;
  max-height: 50%;
}

.rust-logo img {
  min-width: 60%;
  min-height: 60%;
}

.invert img {
  filter: brightness(0) invert(1); /* Make the logo white */
}

.icon img {
  max-width: 1em;
  max-height: 1em;
  margin-bottom: -0.2em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row.middle {
  align-items: center;
}

.col-20 {
  flex: 0 0 20%;
}

.col-33 {
  flex: 0 0 33%;
}

.col-40 {
  flex: 0 0 40%;
}

.col-60 {
  flex: 0 0 60%;
}

.col-80 {
  flex: 0 0 80%;
}

.col-50 {
  flex: 0 0 50%;
}

.col-grow {
  flex: 1 0 0;
}

* {
  box-sizing: border-box;
}

.img-fixed-right img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  max-width: 50%;
}

.right-50 {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-50 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@page {
  size: 1210px 681px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0.6em 0;
}

.remark-slide-content {
  table,
  pre {
    width: 95%;
  }
}

.operators {
  p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    bottom: 50%;
    padding: 1em;
    code {
      color: #fdea2e;
      width: 50%;
      text-align: right;
      font-size: 0.8em;
    }
  }
}
